
body {
    text-align: center;
    font-family: 'Franklin Gothic';
    background-color: #00ffcc;
}

div {
    background-color: white;
    padding-top: 5%;
    padding-bottom: 5%;
    margin-top: 5%;
}

header {
    color: white;
}

header > img {
    width: 60px;
}

.search-bar-btn {
    width: 30px;
    border: none;
    background: none;
}

.text-center {
    margin-left: auto;
    margin-right: auto;
}

table {
    background-color: #ccfff5;
}

tr, th, td {
    border-bottom: solid;
    padding: 20px;
}

button.cancel-btn {
    border: none;
}

.left-nav-btn {
    float: left;
    border: none;
    background: none;
}

.right-nav-btn {
    border: none;
    background: none;
    float: right;
}

.normal-vitals {
    color: green;
}

.warning-vitals {
    color: yellow;
}

.critical-vitals {
    color: red;
}

.green-button {
    background-color: #33cc33;
    border: none;
    border-radius: 35%;
    padding: 10px;
    color: white;
}

.default-background {
    background-color: #00ffcc;
}



