
body {
    text-align: center;
    font-family: 'Franklin Gothic';
}

header {
    background: #00ffcc;
}

header > img {
    width: 50px;
}

img.search-bar-btn {
    width: 30px;
}

button.search-bar-btn {
    border: none;
    background: white;
}

.text-center {
    margin-left: auto;
    margin-right: auto;
}

footer {
    background: #00ffcc;
}

table {
    background: #ccfff5;
}

button.cancel-btn {
    border: none;
}

.left-nav-btn {
    float: left;
}

.right-nav-btn {
    float: right;
}

.normal-vitals {
    color: green;
}

.warning-vitals {
    color: yellow;
}

.critical-vitals {
    color: red;
}

